form(
  name="$ctrl.form"
  )

  formly-form(
  form="$ctrl.form"
  model='$ctrl.model.profile'
  fields='$ctrl.formFields'
  )

  google-autocomplete-cmp(
    on-select="$ctrl.setLocation(model)"
    placeholder="Neuer Wohnort *"
    )

div(layout="row" layout-align="end center")

  md-progress-circular(
    md-mode="indeterminate"
    md-diameter="20"
    ng-show="$ctrl.isFetching"
    ).md-accent

  md-button.md-raised.md-accent(
    ng-click="$ctrl.handleOnSave()"
    ng-disabled="$ctrl.form.$invalid || $ctrl.isFetching"
    ) save
