div(layout="row" layout-align="center center").profile

  div(layout="column" flex)
    h1.md-display-1 Profil
    p(ng-show="!$ctrl.profile.isComplete") Bitte fülle dein Profil aus, um suchen zu könne und gefunden zu werden!

    div(layout="row" layout-align="center center")
      md-progress-circular(
        md-mode="indeterminate"
        ng-show="$ctrl.profile.isFetching"
        ).md-accent

    profile-form-cmp(
      ng-show="!$ctrl.profile.isFetching"
      on-save="$ctrl.onSave(model)"
      profile="$ctrl.profile"
      is-fetching="$ctrl.profile.isFetching"
      )
