div(layout="row" layout-align="center stretch")

  div(layout="column" flex="50" flex-sm="66" flex-xs="100" layout-padding)
    h1.md-display-1 Leute finden, platt schnacken
    h2.md-headline(ng-show="$ctrl.users.currentLocation.location") aktuelle Suche: {{$ctrl.users.currentLocation.location}}

    google-autocomplete-cmp(
      on-select="$ctrl.searchForUsers(model)"
      placeholder="Gib einen Ort ein."
      )

    div(layout="row" layout-align="center")
      md-progress-circular(
        md-mode="indeterminate"
        ng-show="$ctrl.users.isFetching"
        ).md-accent

    p(ng-show="!$ctrl.users.users.length && $ctrl.users.currentLocation.location") Leider keine Treffer!
    md-list
      md-list-item.md-3-line.secondary-button-padding(
        ng-repeat="user in $ctrl.users.users"
        ng-click="$ctrl.openUserModal(user)"
        )
        .md-list-item-text
          h3 {{user.first_name}} {{user.last_name}}
          h3 {{user.level}}
          p {{user.location}}
        md-divider(ng-if="!$last")
