div(layout="column" layout-fill)
  md-toolbar.md-whiteframe-2dp
    .md-toolbar-tools
      h2(ng-link="['Start']") plattform-platt.de
      span(flex)

      md-button(
        ng-show="$ctrl.auth.isAuthenticated"
        ng-link="['Profile']"
        ) Profil

      md-button(
        ng-show="$ctrl.auth.isAuthenticated"
        ng-link="['Users']"
        ) Finden

      md-button.md-icon-button(
        ng-show="!$ctrl.auth.isAuthenticated"
        ng-link="['Login']"
        )
        md-icon power_settings_new

      md-button.md-icon-button(
        ng-show="$ctrl.auth.isAuthenticated"
        ng-click="$ctrl.handleLogout()"
        )
        md-icon power_settings_new

  md-content
    main(layout="row" layout-align="center stretch")
      div(layout="column" flex="50")
        ng-outlet
