div(layout="column" layout-fill)
  md-toolbar.md-whiteframe-2dp
    .md-toolbar-tools
      h2(ng-link="['Start']") plattform-platt.de
      span(flex)

      md-button(
        ng-show="$ctrl.auth.isAuthenticated"
        ng-link="['Profile']"
        ) Profil

      md-button(
        ng-show="$ctrl.auth.isAuthenticated"
        ng-link="['Users']"
        ) Finden

      md-button.md-icon-button(
        ng-show="!$ctrl.auth.isAuthenticated"
        ng-link="['Login']"
        )
        md-icon power_settings_new

      md-button.md-icon-button(
        ng-show="$ctrl.auth.isAuthenticated"
        ng-click="$ctrl.handleLogout()"
        )
        md-icon power_settings_new

  md-content(flex layout="column")
    main(layout="row" layout-align="center stretch" flex="none")
      div(layout="column" flex)
        ng-outlet

    span(flex)

    footer(flex="none" layout="row" layout-align="center")
      div(layout="column" flex="50" flex-xs="100" flex-sm="75")
        div(layout="row" layout-align="space-around center" flex="none")
            span Kontakt
            span Impressum
        div(layout="row" layout-align="end")
          img(src="{{$ctrl.windmills}}").windmills
